/* *{
    margin: 0%;
    padding: 0%;
} */

body{
    line-height: 0%;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

#pixel-board{
    display: block;
    margin: auto;
}



#main {
    text-align: center;
}
#board-size{
    width: 6%;
    style
}
